<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout Component</title>
    </head>

    <body> 
        <h1 class="wd"> Welcome to Dashboard </h1>
        <h1>  </h1>

        <div *ngIf="user; else noUser">
  <h2>Welcome, {{ user.name }}</h2>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Role:</strong> {{ user.role }}</p>
</div>

<ng-template #noUser>
  <p>No user logged in. Please log in first.</p>
</ng-template>

    </body>
    </html>

   